<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario para crear persona</title>
</head>
<body>
    <h1>Formulario de Persona</h1>
    <hr/>
    <form th:object="${persona}" th:action="${action}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Nombre:<input type="text" th:field="*{nombre}"></label>
        <br/>
        <label>Nombre:<input type="number" th:field="*{edad}"></label>
        <br/>

        <button type="submit">Crear persona</button>
    </form>

    <a href="/personas">Volver al listado de personas</a>

</body>
</html>